# Python Cache
__pycache__/
*.py[cod]
*$py.class

# PyInstaller / Build Artifacts
build/
dist/
*.spec

# Virtual Environments
venv/
env/
.env
.venv/

# OS specific files
.DS_Store
Thumbs.db

# Logs
*.log
debug_log.txt

#ponytail
AGENTS.md